<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:each="action: ${actions}">
                        <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
                    </li>

<!--                    <li><a th:href="@{/search}">Search</a></li>-->
<!--                    <li><a th:href="@{/list}">List</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="results-list">
        <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
        <th:block th:each="job : ${job}">
            <table class="job-listing">
                <tr>
                    <td>ID:</td>
                    <td th:text="${job.id}">id</td>
                </tr>
                <tr>
                    <td>NAME:</td>
                    <td th:text="${job.name}">name</td>
                </tr>
                <tr>
                    <td th:text="${#strings.toUpperCase(columns.get('employer'))} + ':'">employer label</td>
                    <td th:text="${job.employer.value}">employer</td>
                </tr>

                <tr>
                    <td th:text="${#strings.toUpperCase(columns.get('location'))} + ':'">location label</td>
                    <td th:text="${job.location.value}">location</td>
                </tr>

                <tr>
                    <td th:text="${#strings.toUpperCase(columns.get('positionType'))} + ':'">position type label</td>
                    <td th:text="${job.positionType.value}">position type</td>
                </tr>

                <tr>
                    <td th:text="${#strings.toUpperCase(columns.get('coreCompetency'))} + ':'">skill label</td>
                    <td th:text="${job.coreCompetency.value}">core competency</td>
                </tr>



            </table>


        </th:block>


    </div>





</body>
</html>